---
import backgroundImage from "~/assets/comedor.webp";
import logoImg from "~/assets/logo.webp";
import { Image } from "astro:assets";
---

<section class="relative">
  <h1 class="sr-only">Casa Real Mexican Restaurant</h1>
  <Image
    class="w-full h-svh object-cover object-center"
    src={backgroundImage}
    densities={[1.5, 2]}
    format="webp"
    loading="eager"
    decoding="async"
    alt="Restaurant with tables, chairs and bar"
  />
  <div class="absolute w-full inset-0 bg-stone-900/45"></div>
  <div class="absolute bottom-0 w-full z-10">
    <article
      class="bg-amber-400 p-5 flex flex-col gap-2 sm:flex-row sm:items-center sm:justify-between"
    >
      <div>
        <p class="font-bold sm:text-xl">
          Casa Grande Has Arrived in Williston, VT!
        </p>
        <p class="text-amber-900 max-w-prose">
          Come experience the same delicious flavors you love, now at our new
          location
        </p>
      </div>
      <a
        class="flex items-center gap-2 font-semibold hover:text-amber-900"
        href="https://casagrandevt.com/"
        >Go to Casa Grande <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-4 sm:size-5 inline-flex"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3"></path>
        </svg>
      </a>
    </article>
    <!-- <p
      class="py-5 bg-stone-900/65 text-white backdrop-blur-sm tracking-tight text-lg sm:text-xl text-center text-pretty"
    >
      Colchester's authentic Mexican restaurant
    </p> -->
  </div>
  <div class="absolute inset-0 flex flex-col justify-center items-center p-6">
    <Image
      class="w-40 lg:w-64 opacity-80"
      src={logoImg}
      densities={[1.5, 2]}
      format="webp"
      loading="eager"
      decoding="async"
      alt=""
    />
  </div>
</section>
