<section class="bg-amber-400">
  <div
    class="mx-auto flex w-full max-w-6xl flex-col items-center justify-center px-4 py-12 md:py-20"
  >
    <h2
      class="text-center text-3xl font-bold tracking-tighter text-pretty md:text-4xl"
    >
      Find us
    </h2>
    <p class="mt-2 text-center text-pretty text-amber-950">
      We are located in <strong>Colchester, Vermont</strong>
    </p>
    <iframe
      class="mt-4 aspect-video w-full overflow-hidden rounded-md sm:w-[600px]"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2845.535039248099!2d-73.18265362372748!3d44.50419319697739!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cca713788856bc7%3A0xe94f31f778e36b9b!2sCasa%20Real%2C%20Mexican%20Restaurant!5e0!3m2!1sen!2sus!4v1705512670339!5m2!1sen!2sus"
      title="Google Map"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</section>
