---
interface Props {
  title: string;
  href: string;
  img: {
    src: string;
    alt: string;
  };
}

const { title, img, href } = Astro.props;
---

<li class="relative group transition-all">
  <div class="relative rounded-md overflow-hidden">
    <img src={img.src} alt={img.alt} loading="lazy" />
    <div
      class="absolute inset-0 bg-black opacity-0 transition-opacity group-hover:opacity-20"
    >
    </div>
  </div>
  <a
    class="block group-hover:text-yellow-700 font-semibold text-xl mt-2 before:absolute before:content:'' before:inset-0"
    href={href}>{title}</a
  >
</li>
