---
import myBackground from "../assets/comedor.webp";
---

<section class="relative">
  <img
    class="w-full max-h-screen object-cover"
    src="/comedor.webp"
    alt="Restaurant with wooden tables, chairs and plants as decor."
  />
  <div
    class="absolute w-full inset-0 flex flex-col justify-center items-center bg-black/45 text-white"
  >
    <h1 class="text-3xl font-bold tracking-tight md:text-4xl">
      Welcome Casa Real
    </h1>
    <a
      class="inline-flex mt-3 items-center justify-center h-10 px-5 text-sm font-medium text-yellow-900 bg-yellow-400 rounded-md hover:bg-yellow-500 transition-colors"
      href="/menu"
    >
      View Menu
    </a>
  </div>
</section>
