---
---

<section class="relative">
  <img
    class="w-full max-h-screen object-cover"
    src="/comedor.webp"
    alt="Restaurant with wooden tables, chairs and plants as decor."
  />
  <div
    class="absolute w-full inset-0 bg-black/35 text-white"
  />
  <p class="absolute bottom-0 w-full p-6 bg-black/65 text-white backdrop-blur-sm font-serif text-xl text-center">
    Colchester's authentic Mexican restaurant
  </p>
  <div class="absolute inset-0 flex flex-col justify-center items-center p-6">
    <img src="/logo.webp" class="w-56 md:w-72 opacity-80" tabindex="-1" />
  </div>
</section>
