<section class="relative">
  <h1 class="sr-only">Casa Real Mexican Restaurant</h1>
  <img
    class="w-full h-svh object-cover object-center"
    src="/comedor.webp"
    alt="Restaurant with tables, chairs and bar"
  />
  <div class="absolute w-full inset-0 bg-stone-900/35 text-white"></div>
  <p
    class="absolute bottom-0 w-full py-6 bg-stone-900/65 text-white backdrop-blur-sm tracking-tight text-lg sm:text-xl text-center text-pretty"
  >
    Colchester's authentic Mexican restaurant
  </p>
  <div class="absolute inset-0 flex flex-col justify-center items-center p-6">
    <img src="/logo.webp" class="w-40 lg:w-64 opacity-80" />
  </div>
</section>
