---
import { navLinks } from "~/constants";
---

<header
  class="w-full z-10 text-white"
  class:list={{
    "fixed top-0 sticky-animation": Astro.url.pathname === "/",
    "relative bg-stone-900": Astro.url.pathname !== "/",
  }}
>
  <div class="flex items-center justify-end p-4 max-w-6xl mx-auto">
    <nav class="flex gap-2 sm:gap-4 items-center flex-wrap">
      {
        navLinks.map((link) => (
          <a
            href={link.href}
            class="font-semibold hover:underline underline-offset-4 px-4 py-1 rounded-md"
          >
            {link.name}
          </a>
        ))
      }
      <a
        class="font-semibold hover:bg-amber-300 px-4 py-1 rounded-md text-amber-950 bg-amber-400"
        href="https://www.foodbooking.com/ordering/restaurant/menu?company_uid=49adb6a9-2b65-4566-b549-cfbf9ca9a76f&restaurant_uid=3514ab58-fda5-4cce-a6ab-9f9dcbd6c7d8"
        >Order Now</a
      >
    </nav>
  </div>
</header>
<style>
  .sticky-animation {
    animation: blur linear both;
    animation-timeline: scroll();
    animation-range: 0 200px;
  }

  @keyframes blur {
    to {
      @apply bg-stone-900;
      backdrop-filter: blur(12px);
    }
  }
</style>
