---
import { popularDishes } from "../constants";
import FavoriteCard from "./FavoriteCard.astro";
---

<section
  class="flex w-full flex-col items-center py-10 sm:py-20 px-4 justify-center max-w-6xl mx-auto"
>
  <span
    class="bg-red-600 text-white inline-block text-sm px-3 py-1 rounded-md text-center"
    >Popular dishes</span
  >
  <h2 class="text-3xl mt-1 font-bold tracking-tighter md:text-4xl/tight">
    Our costumer's favorites
  </h2>
  <p class="text-gray-600 mt-1">
    Discover our most popular dishes and desserts.
  </p>
  <ul class="grid grid-cols-1 sm:grid-cols-3 mt-6 sm:mt-10 gap-6">
    {
      popularDishes.map((dish) => (
        <FavoriteCard title={dish.title} href={dish.href} img={dish.img} />
      ))
    }
  </ul>
</section>
