---
import { Image } from 'astro:assets';

interface Props {
  title: string;
  href: string;
  img: {
    src: string;
    alt: string;
  };
}

const { title, img, href } = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>('/src/assets/popular/*.{jpeg,jpg,png,webp}');
---

<li class="relative group transition-all">
  <div
    class="relative overflow-hidden rounded-md w-full h-auto md:h-96 bg-red-200"
  >
    <Image
      class="object-cover object-bottom w-full h-full"
      src={images[img.src]()}
      alt={img.alt}
      loading="lazy"
      format='webp'
    />
    <div
      class="absolute inset-0 bg-stone-900 opacity-0 transition-opacity group-hover:opacity-20"
    >
    </div>
  </div>
  <a
    class="block group-hover:text-yellow-700 text-stone-900 font-semibold text-xl mt-2 sm:mt-3 before:absolute before:content:'' before:inset-0"
    href={href}>{title}</a
  >
</li>
